################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/LeetCode/v15
/.vs/InterviewPrep/v15/.suo
/LeetCode/bin
/LeetCode/obj
